body{

    background-color: #a1d6e2;
    overflow-x: hidden;
}
footer{
    color: #cbeaf0;
    background-color: #4ba8c0;

}
.social-footer .icon{
    font-size: 3rem;
    padding: 3%;
}
footer a{
    text-decoration: none;
    color: #cbeaf0;

}

a{
    text-decoration: none;
    color: #A0E4CB
}

.section-padding{
    padding: 5% 5% 2% 5%; 
}

/*features*/
#features{
    background-color: #f9f9f9;

}
.feature-icons{
    margin-bottom: 1rem;
    color: #a1d6e2;
}
.feature-icons:hover{
    color: #1995ad;
}
.fawesome{
    padding-top: 12px;
}


.icon:hover{
    color: #1995ad;
    cursor: pointer;
}

/*botones feature*/
.btn-reserve{
    margin-top: 3%;
    border-color: #a1d6e2;

}
.btn-reserve:hover{
    border-color: #1995ad;
    color: #fff;
    background-color: #1995ad;
}

/*Tratameintos*/
.tratamiento-name{
    color: #555555;
}
.card img{
    height: 100%;
    width: 100%;
}
/*Location*/
#location{
    background-color: #fff;
}